name: Release

on:
  push:
    tags:
    - "v*.*.*"
    - "v*.*.*-rc"

permissions:
  contents: write

env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

jobs:
  build:
    runs-on: [self-hosted, Ubuntu18]
    steps:
    - uses: actions/checkout@v3.5.3
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install pyinstaller
    - name: Build release
      run: |
        pyinstaller --onefile -n gh-release-downloader gh_release_downloader.py
    - name: Publish release
      uses: softprops/action-gh-release@v1
      with:
        files: dist/gh-release-downloader
        prerelease: ${{ contains(github.ref, '-rc') }}
        generate_release_notes: true
    - name: Clean
      run: |
        rm -rf dist/
        rm -rf build/
